// Custom overrides


//
//  navigation.css
//

.flex-container {
  align-items: baseline;
  display: flex;
  flex-direction: row;
}

.connector {
  height: 12px;
  margin-right: 5%;
  width: 12px;
}

.breadcrumb-nav {
  @include mq(md) {
    margin-top: $sp-4;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.prev-next-controls {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;

  // Workaround for buttons bar overflow issues.
  a {
    overflow: inherit;
  }
}
