//
// Colors
//

$body-background-color: $white !default;
$sidebar-color: #133746; //azul

$search-background-color: #133746 !default;
$code-background-color: $grey-dk-250; // antes $white !default;
$table-background-color: $grey-dk-250; // del tema oscuro
$feedback-color: darken($sidebar-color, 3%) !default;

$body-text-color: $grey-dk-100 !default;
$body-heading-color: $grey-dk-300 !default;
$search-result-preview-color: $grey-dk-250 !default;
$nav-child-link-color: $grey-lt-100 !default;

$link-color: #ebad28; //amarillo
$btn-primary-color: $blue-300;
$base-button-color: $grey-dk-250;


$blue-400: #133746 !default;
$blue-410: #236682 !default;
$yellow-400: #ebad28 !default;
