//
// Colors
//


$body-background-color: $green-000 !default;
$sidebar-color: $green-000 !default;
$search-background-color: $green-000 !default;
$table-background-color: $green-000 !default;
$code-background-color: $green-000 !default;
$feedback-color: darken($sidebar-color, 3%) !default;

$body-text-color: $green-000 !default;
$body-heading-color:$green-000 !default;
$search-result-preview-color: $green-000 !default;
$nav-child-link-color: $green-000 !default;
$link-color: $green-000 !default;
$btn-primary-color: $green-000 !default;
$base-button-color: #f7f7f7 !default;
