//
// Colors
//

$body-background-color: $white;
$sidebar-color: #133746; //azul

$body-text-color: $grey-dk-100 ;
//$body-heading-color: $grey-lt-000; // título Página
$search-result-preview-color: $grey-dk-250;
$nav-child-link-color: $grey-lt-100;

$code-background-color: $grey-dk-250; // antes azul iavh
$search-background-color: $grey-dk-250;
$feedback-color: darken($sidebar-color, 3%);

$link-color: #ebad28; //amarillo
$btn-primary-color: $blue-300;
$base-button-color: $grey-dk-250;





$blue-400: #133746 !default;
$blue-410: #236682 !default;
$yellow-400: #ebad28 !default;
